<div class="container" *ngIf="mode=='preview'">

    <div class="col-md-9 wrapper-content">
        <div class="post-wrapper">
            <div class="post-content">
                <div class="left">
                    <div class="vote">
                        <div class="up"><i class="fa fa-caret-up" aria-hidden="true"
                                           (click)="votePost(post.id,1)"></i></div>
                        <div class="count">{{post.vote_count}}</div>
                        <div class="down"><i class="fa fa-caret-down" aria-hidden="true"
                                             (click)="votePost(post.id,-1)"></i>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <h1 class="title ng-fade">{{post.title}}</h1>
                    <div class="group">
                        <div class="author" *ngIf="!post.is_incognito">
                            <img [src]="post.author.avatar" alt="">
                            <div class="author_name">
                                <div>Người đăng:</div>
                                <span>{{post.author.name}}</span>
                            </div>
                        </div>
                        <div class="author" *ngIf="post.is_incognito">
                            <img [src]="'assets/images/incognito.png'" alt="">
                            <div class="author_name">
                                <div>Người đăng</div>
                                <span>Ẩn danh</span>
                            </div>
                        </div>
                        <div class="number_comments">
                            <div>Bình luận:</div>
                            <span class="number ng-binding">{{post.comments.length}}</span>
                        </div>
                        <div class="time">
                            <div>Thời gian:</div>
                            <span class="number"
                                  title="{{post.created_at}}">{{post.created_at | date }}</span>
                        </div>

                        <div *ngIf="allowAlterPost()" class="action pull-right">
                            <div class="btn-group">
                                <a class="btn btn-primary" (click)="mode='edit'"><i
                                    class="fa fa-pencil fa-fw"></i> Sửa</a>
                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a (click)="deletePost(post.id)"><i class="fa fa-trash-o fa-fw"></i> Xóa</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="content ng-fade" [innerHTML]="post.content"></div>

                    <div class="exercise" *ngIf="post.type == 'event'">
                        <h3>Hạn nộp: {{post.time_end | date : 'd/M/yyyy HH:mm'}}</h3>
                        <!--<h3>Còn lại: {{post.time_remaining_event}}</h3>-->

                        <div class="teacher" *ngIf="user.capability == 'teacher'">
                            <button class="btn btn-primary ed-button" data-toggle="modal" data-target="#modalManagerExercise" (click)="getListExercise()">
                                Danh sách đã nộp ({{post.attach_file_count}})
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="modalManagerExercise" tabindex="-1" role="dialog" aria-labelledby="labelManagerExercise">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="labelManagerExercise">Danh sách nộp bài tập</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div *ngIf="post.listExercise.length">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Tên</th>
                                                        <th>MSV</th>
                                                        <th>Lớp</th>
                                                        <th>Bài tập</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let item of post.listExercise">
                                                        <td>{{$index + 1}}</td>
                                                        <td>{{item.author.name}}</td>
                                                        <td>{{item.author.code}}</td>
                                                        <td>{{item.author.regular_class}}</td>
                                                        <td>
                                                            <a download="{{item.url}}">Tải về</a>
                                                            <!--<a [href]="{{item.url}}" download="{{item.url}}">Tải về</a>-->
                                                            <span>/</span>
                                                            <a target="_blank">Xem</a>
                                                            <!--<a [href]="{{item.url}}" target="_blank">Xem</a>-->
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div *ngIf="!post.listExercise.length">Danh sách rỗng</div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary ed-button" (click)="downloadAllExercise()" [disabled]="!post.listExercise.length">
                                                Tải về tất cả lớp
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="student" *ngIf="user.capability != 'teacher'">
                            <p *ngIf="post.is_send_file">Bạn đã nộp bài tập.</p>
                            <button class="btn btn-primary ed-button" data-toggle="modal" data-target="#modalExercise" *ngIf="!post.is_send_file" >
                                    <!--[disabled]="postCtrl.disableUploadExercise">-->
                                Nộp bài tập</button>

                            <!-- Modal -->
                            <div class="modal fade" id="modalExercise" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Nộp bài tập</h4>
                                        </div>

                                        <div class="modal-body">
                                            <div class="upload-component">
                                                <input type="file" ng2FileSelect [uploader]="uploader" />

                                                <div class="upload-actions">
                                                    <div class="upload-progress" *ngIf="uploader.progress >= 0">
                                                        <div style="width:{{uploader.progress}}%" >
                                                             <!--ng-bind="f.progress + '%'">-->
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="upload-results" *ngIf="link_download">
                                                    <!--Link download: <a [href]="link_download" download="{{link_download}}" target="_blank">{{f.name}}</a>-->
                                                    Link: {{link_download}}
                                                </div>
                                            </div>

                                            <p>Chọn file và chọn Tải lên hoặc chọn &times; để thoát.</p>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary ed-button" (click)="uploadExercise()"
                                                    [disabled]="disableUpload || post.is_send_file">
                                                Tải lên</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="comments" id="comments">
                <div *ngFor="let comment of post.comments">
                    <comment-item [comment]="comment" [data]="getData()"
                                  (onSolveComment)="onSolveComment(comment.id)"></comment-item>
                </div>
            </div>

            <form-comment [post_id]="post.id" (onComment)="onComment($event)"></form-comment>
        </div>
    </div>

</div>

<app-post-edit *ngIf="mode=='edit'"
[post]="post" (onUpdated)="$event?mode='preview':mode='edit'">
    Edit...
</app-post-edit>
