<textarea id="{{elementId}}"></textarea>

<div id="{{eModalImageId}}" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add new image</h4>
			</div>
			<div class="modal-body">
				<image-upload
						[url]="urlUploadImage"
						(onFileUploadFinish)="imageUploaded($event)"
				></image-upload>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
