<div class="listPost">
    <h2 class="modal-title">{{classDetails.name}}</h2>
    <div class="group">
        <div class="teacher">
            <div>Giảng viên:</div>
            <span class="number ng-binding">{{classDetails.teacher_name}}</span>
        </div>
        <div class="number_students">
            <div>Sinh viên:</div>
            <span class="number ng-binding">{{classDetails.student_count}}</span>
        </div>
        <div class="create_topic">
            <a uiSref="^.create">Tạo Chủ Đề Mới</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="post ng-fade" *ngFor="let post of classDetails.posts" ngClass="post.is_seen ? 'seen': ''">
        <div class="header">
            <h2 class="title"><a uiSref="^.post" [uiParams]="{postId: post.id}"><span class="type {{post.type}}"></span>{{post.title}}</a>
            </h2>
        </div>

        <div class="content">
            {{post.description}}
        </div>

        <div class="group">
            <div class="author" *ngIf="!post.is_incognito">
                <img [src]="post.author.avatar" alt="">
                <div class="author_name">
                    <div>Người đăng</div>
                    <span>{{post.author.name}}</span>
                </div>
            </div>
            <div class="author" *ngIf="post.is_incognito">
                <img [src]="'assets/images/incognito.png'" alt="">
                <div class="author_name">
                    <div>Người đăng</div>
                    <span>Ẩn danh</span>
                </div>
            </div>
            <div class="number_comments">
                <div>Bình luận</div>
                <span>{{post.comment_count}}</span>
            </div>
            <div class="time">
                <div>Ngày đăng</div>
                <span>{{post.created_at | date }}</span>
            </div>
            <div class="vote">
                <div>Số lượng votes</div>
                <span>{{post.vote_count}}</span>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="read_more">
            <a uiSref="posts.list.detail({postId: post.id})" class="go-comment" *ngIf="!post.is_solve">Cùng tham gia trả lời và bình luận</a>
            <a uiSref="posts.list.detail({postId: post.id})" class="solved" *ngIf="post.is_solve">Chủ đề này đã được giải quyết</a>
        </div>
    </div>

    <div class="post no-post" *ngIf="!classDetails.posts.length">
        <h2 class="title">Chưa có thảo luận nào</h2>
    </div>

    <pagination [args]="classDetails.pagination"></pagination>
</div>
