<header id="header">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-mobile"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" uiSref="welcome">
                    <img src="assets/images/logo.png" alt="Logo">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="menu-mobile">
                <ul class="nav navbar-nav">
                    <li class="dropdown" *ngIf="isLogin">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Lớp môn học <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li uiSrefActive="active"><a uiSref="classes">Tất cả các lớp</a></li>
                            <li role="separator" class="divider"></li>
                            <li *ngFor="let cl of classes" uiSrefActive="active">
                                <a uiSref="classPost.listPost" [uiParams]="{ classId: cl.id }">{{cl.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="login" *ngIf="!isLogin"><a uiSref="login">Đăng nhập</a></li>

                    <li class="dropdown user" *ngIf="isLogin">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <img [src]="user?.avatar" class="avatar">
                            {{user.name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a uiSref="settings.profile">Cập nhập thông tin</a></li>
                            <li><a uiSref="settings.changePassword">Đổi mật khẩu</a></li>
                            <li><a uiSref="support">Hỗ trợ</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a (click)="logOut($event)">Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
