<div class="col-md-9 wrapper-content">
    <div class="wrapper-new-post">
        <h2 class="modal-title">Đăng chủ đề mới</h2>
        <form class="new_post">
            <div class="form-group">
                <label for="title">Tiêu đề</label>
                <!--<input type="text" id="title" ng-model="createPostCtrl.newPost.title" class="form-control" placeholder="Tiêu đề tập trung vào vấn đề cần hỏi">-->
                <input type="text" id="title" class="form-control"
                       placeholder="Tiêu đề tập trung vào vấn đề cần hỏi" [(ngModel)]="params.title"
                       [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group">
                <label>Nội dung</label>

                <editor [elementId]="'post-content'" (onEditorKeyup)="handlePostContent($event)"></editor>
            </div>

            <div class="form-group">
                <label for="type">Thể loại</label>
                <div id="type">

                    <label class="radio-inline"><input type="radio" name="type" value="question" checked="true"
                                                       (click)="params.type='question'">Question</label>
                    <label class="radio-inline"><input type="radio" name="type" value="note"
                                                       (click)="params.type='note'">Note</label>
                    <label class="radio-inline"><input type="radio" name="type" value="poll"
                                                       (click)="params.type='poll'">Poll</label>
                    <label class="radio-inline" *ngIf="isTeacher"><input type="radio" name="type" value="notification"
                                                                         (click)="params.type='notification'">Notification</label>
                    <label class="radio-inline" *ngIf="isTeacher"><input type="radio" name="type" value="event"
                                                                         (click)="params.type='event'">Exercise</label>
                </div>
            </div>

            <div class="form-group" *ngIf="params.type == 'event'">
                <label for="time_end_event">Hạn nộp</label>
                <datetime id="time_end_event" [(ngModel)]="date" [ngModelOptions]="{standalone: true}"
                          [datepicker]="datepickerOpts"></datetime>
            </div>

            <!--<div class="form-group">-->
            <!--<label for="is_incognito">Đăng với tư cách</label>-->
            <!--<select name="is_incognito" id="is_incognito" class="form-control"-->
            <!--ng-model="createPostCtrl.newPost.is_incognito">-->
            <!--<option value="0">{{createPostCtrl.user.name}}</option>-->
            <!--<option value="1">Ẩn danh</option>-->
            <!--</select>-->
            <!--</div>-->

            <div class="create_topic">
                <a (click)="postPost()">
                    Đăng bài
                </a>
            </div>
        </form>

    </div>
</div>
