.wrapper-change-password {
	.title {
		font-size: 26px;
		font-weight: bold;
		margin: 0 0 40px 0;
	}

	.form-group {
		margin-bottom: 20px;

		.input {
			position: relative;

			&:hover {
				.btn-show {
					opacity: 1;
				}
			}

			.btn-show {
				position: absolute;
				top: 0;
				right: 0;
				cursor: pointer;
				opacity: 0;
				transition: 100ms all ease-in-out;

				&:before {
					line-height: 50px;
					font-family: FontAwesome;
					padding: 2px 8px;
				}

				&[data-state="hide"]:before {
					content: '\f06e';
				}

				&[data-state="show"]:before {
					content: '\f070';
				}
			}
		}

		.show {

		}
	}
}