#wrapper {
    min-height: 100%;
    position: relative;
}

#page {
    padding-bottom: 200px;
}

#footer {
    background-color: #4a4a4a;
    position: absolute;
    width: 100%;
    bottom: 0;

    .container {
        padding-top: 39px;
        padding-bottom: 39px;
        text-align: center;

        a {
            color: #fff;
            padding-left: 10px;
            padding-right: 10px;

            &:not(:last-child) {
                border-right: 1px solid #fff;
            }

            &:hover {
                color: $primary-color;
                text-decoration: none;
            }
        }
    }
}
