a[ng-click] {
	cursor: pointer;
}

* {
	word-wrap: break-word;
}

html, body {
	height: 100%;
}

.modal-title {
	color: $title-color;
	font-weight: 700;
	font-family: $font-family;
	font-size: 26px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family;
	color: $title-color;
}

body {
	background: $background-color;
	color: $text-color;
	font-size: $font-size;
	font-family: $font-family;
	line-height: 25px;
}

.ng-fade {
	transition: 200ms linear all;

	&.ng-enter {
		opacity: 0;
	}
}

.ed-button {
	padding: 10px 20px;
}

.ed-box {
	padding: 20px 30px;
	background-color: #fff;
	box-shadow: 0 0 8px 0 rgba(17, 17, 17, 0.1);
	border-radius: 10px;
}

.form-control {
	height: 50px;
	font-size: 16px;
}

.ed-title {
	position: relative;

	&:after {
		content: '';
		width: 50px;
		height: 2px;
		background-color: $primary-color;
		position: absolute;
		left: 0;
		bottom: -15px;
	}
}