<div class="wrapper-profile">
    <h2 class="title ed-title">Thông tin tài khoản</h2>

    <div class="top">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar">
                    <img src="{{user.avatar}}" class="img-responsive img-rounded" alt="{{user.name}}">
                </div>
            </div>
            <div class="col-md-7">
                <div class="details">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Họ và tên</td>
                            <td>
                                <div class="value">{{user.name}}</div>
                                <label><input type="hidden">
                                </label>
                            </td>
                        </tr>

                        <tr *ngIf="user.capability == 'student'">
                            <td>Mã SV</td>
                            <td>
                                <div class="value">{{user.code}}</div>
                                <label><input type="hidden" ngModel="user.code"></label>
                            </td>
                        </tr>

                        <tr *ngIf="user.capability == 'student'">
                            <td>Lớp</td>
                            <td>
                                <div class="value">{{user.regular_class}}</div>
                                <label><input type="hidden" ngModel="user.regular_class"></label>
                            </td>
                        </tr>

                        <tr *ngIf="user.email">
                            <td>Email</td>
                            <td>
                                <div class="value">{{user.email}}</div>
                                <label><input type="hidden" ngModel="user.email"></label>
                            </td>
                        </tr>

                        <tr *ngIf="user.point_count">
                            <td>Edoo point</td>
                            <td>
                                <div class="value">{{user.point_count}}</div>
                                <label><input type="hidden" ngModel="user.point_count"></label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom">
        <form class="form-group favorite" (submit)="updateFavorite()">
            <label>Sở thích</label>
            <span class="btn-edit" (click)="openEditFavorite()"><i class="fa fa-pencil" aria-hidden="true"></i></span>
            <div class="value" *ngIf="!isEditFavorite">{{user.favorite}}</div>

            <div class="edit-form" *ngIf="isEditFavorite">
                <textarea class="form-control" rows="5" style="margin: 0px -0.486111px 10px 0px; width: 788px; height: 125px;" [(ngModel)]="favorite" name="favorite">{{favorite}}</textarea>
                <button class="btn btn-primary" [disabled]="isDisabled">Cập nhật</button>
                <button class="btn btn-default" (click)="closeEditFavorite()">Hủy</button>
            </div>

        </form>

        <form class="form-group description" (submit)="updateDes()">
            <label>Giới thiệu</label>
            <span class="btn-edit" (click)="openEditDes()"><i class="fa fa-pencil" aria-hidden="true"></i></span>
            <div class="value" *ngIf="!isEditDes">{{user.description}}</div>

            <div class="edit-form" *ngIf="isEditDes">
                <textarea class="form-control" rows="5" style="margin: 0px -0.486111px 10px 0px; width: 788px; height: 125px;" [(ngModel)]="description" name="description">{{description}}</textarea>
                <button class="btn btn-primary" [disabled]="isDisabled">Cập nhật</button>
                <button class="btn btn-default" (click)="closeEditDes()">Hủy</button>
            </div>
        </form>
    </div>
</div>
