<div class="more_information">
    <div class="row">
        <div class="col-sm-6 left_text">
            <p class="heading">Nhu cầu trao đổi của sinh viên thực sự nhiều</p>
            <p>Tất nhiên việc học trên lớp với thời gian 1-2 tiết mỗi ngày thực sự không thể đủ để nhiều sinh viên có
                thể hiểu và nắm bắt bài học được. Như vậy sẽ có rất nhiều vấn đề bài vở khiến họ thắc mắc và muốn một
                môi trường trao đổi.</p>
        </div>
        <div class="col-sm-6">
            <img src="assets/images/khaosat1.png">
            <div id="khaosat1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/images/khaosat2.png">
        </div>
        <div class="col-sm-6 left_text">
            <p class="heading">Biện pháp trao đổi của sinh viên là mạng xã hội</p>
            <p>Hầu hết các sinh viên bây giờ thường tìm những câu trả lời cho việc học của mình ở trên mạng. Rất đơn
                giản với Google để có những kết quả tìm kiếm tốt, nhanh và tiện lợi. Hay với mạng xã hội Facebook, nơi
                có rất nhiều người đang online và bạn có thể trao đổi trực tuyến với họ.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 left_text">
            <p class="heading">Tuy nhiên mạng xã hội cũng mang nhiều hạn chế</p>
            <p>Biện pháp hiện đại, phổ thông hiện nay được xem là giải pháp cứu cánh cho vấn đề trao đổi bài học của
                sinh viên đang chủ yếu vẫn là mạng xã hội Facebook. Nhưng liệu rằng đây có thực sự là một biện pháp tốt,
                khi nó khiến các sinh viên xao nhãng và không tập trung.</p>
        </div>
        <div class="col-sm-6">
            <!--<img src="assets/images/khaosat3.png">-->
            <div class="group-table">
                <h4>Theo bạn, cách trao đổi thông tin như vậy có những mặt hạn chế gì?</h4>
                <table class="table-hover table-responsive table">
                    <tbody>
                    <tr class="bg-info">
                        <td>Thiếu tập trung</td>
                    </tr>
                    <tr>
                        <td>Lộn xộn</td>
                    </tr>
                    <tr class="bg-info">
                        <td>Bất tiện, rắc rối</td>
                    </tr>
                    <tr>
                        <td>Hay bị trôi thông tin</td>
                    </tr>
                    <tr class="bg-info">
                        <td>Phụ thuộc</td>
                    </tr>
                    <tr>
                        <td>Không đáp ứng đầy đủ yêu cầu của sinh viên</td>
                    </tr>
                    <tr class="bg-info">
                        <td>Nội dung dàn trải, độ chính xác chưa cao</td>
                    </tr>
                    <tr>
                        <td>Kém tập trung, nhanh quên</td>
                    </tr>
                    <tr class="bg-info">
                        <td>Dễ loãng, đôi khi nhiều noti quá lại quên không đọc -> miss thông tin</td>
                    </tr>
                    <tr>
                        <td>phân tán</td>
                    </tr>
                    <tr class="bg-info">
                        <td>Không tiên tiến</td>
                    </tr>
                    <tr>
                        <td>Những người muốn cai Facebook sẽ không thể cai được :v</td>
                    </tr>
                    <tr class="bg-info">
                        <td>Bàn bạc khó đi đến kết quả hài lòng với tất cả</td>
                    </tr>
                    <tr>
                        <td>Dễ bị nhiễu do fb dễ là mất tập trung.</td>
                    </tr>
                    <tr class="bg-info">
                        <td>Tốn thời gian, dùng fb hay mất tập trung. nên giống piazza thì tốt</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
