.group-chart{
    background: #fff;
    padding: 15px;
    h4{
        margin: 0;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
    }
    .chart{
        width: 100%;
        div{

        }
    }
}
