@import "../../scss/variables";

.form-comment {
    padding-left: 100px;
    textarea {
        resize: vertical;
        border: 1px solid #ddd;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        &:focus {
            border-color: $primary-color;
        }
    }

    .comment_submit {
        padding: 10px 20px;
        background-color: $primary-color;
        border: none;
        color: #fff;
        display: block;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        &:focus, &:active {
            outline: none;
        }
    }
}
